* {
  outline: none;
}

.services {
  background: url("/public/assets/service-bg.jpg");
  background-size: cover;
  background-position: center;
}
.about {
  background: url("/public/assets/about-bg.jpg");
  background-size: cover;
  background-position: center;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.service-section button {
  background-color: #149088;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 500;
}

.service-section button:hover {
  background-color: #054847;
}
.service-footer button {
  background-color: white;
}
.form {
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.custom-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
